{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Fetch</title>
    {% include 'bootstrap.html' %}
  </head>
  <style>
  table, th, td {background-color: gray;border: 5px groove green; color: white}
  </style>
  <body>
    {% include 'navbar.html' %}
    <div class="container-fluid mt-2">
      <div class="row">
        <div class="col-md-3"><a class="btn btn-outline-secondary" href="{% url 'Hyderabad' %}">Hyderabad</a></div>
        <div class="col-md-6 text-center"><h1 class="text-center">Pune Famous Things</h1></div>
        <div class="col-md-3 text-right"><a class="btn btn-outline-secondary" href="{% url 'Bangalore' %}">Bangalore</a></div>
      </div>
    </div>
    <div class="container-fluid mt-1">
      <div class="row">
        <div class="col-md-4"><img src="{% static 'images/pune1.jpg' %}" style="width:100%; height:60%;border-radius:20%" ></div>
        <div class="col-md-4"><img src="{% static 'images/pune4.jpg' %}" style="width:100%; height:60%" ></div>
        <div class="col-md-4"><img src="{% static 'images/pune2.jpg' %}" style="width:100%; height:60%;border-radius:20%" ></div>
      </div>
    </div>
    <h1 class="text-center" style="margin-top:-240px">Pune Employees information</h1>
    <div class="container-fluid mb-3">
      <div class="row">
        <div class="offset-md-4 col-md-4">
          <form method="POST">
            {% csrf_token %}
            <input type="text" name="com" placeholder="Enter Company Name">
            <input type="submit" name="Search" class="btn btn-sm btn-outline-danger">
          </form>
        </div>
      </div>
    </div>

    {% if 'punedata' %}
      <table class="table">
        <thead>
          <tr>
            <th>ID NO</th>
            <th>first_name</th>
            <th>last_name</th>
            <th>email</th>
            <th>mobile</th>
            <th>address</th>
            <th>company</th>
            <th>salary</th>
            <th>location</th>
          </tr>
        </thead>
        <tbody>
          {% for i in punedata %}
            <tr>
              <td>{{ i.id }}</td>
              <td>{{ i.first_name }}</td>
              <td>{{ i.last_name }}</td>
              <td>{{ i.emailid }}</td>
              <td>{{ i.mobile }}</td>
              <td>{{ i.address }}</td>
              <td>{{ i.company }}</td>
              <td>{{ i.salary }}</td>
              <td>{{ i.location }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <h1>Data</h1>
    {% endif %}
  </body>
</html>
